.pageContainer {
  position: relative;

  width: min(100%, 430px);
  height: 100%;

  background-image: url('/content_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
