@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', Arial, 'Apple SD Gothic Neo', 'Malgun Gothic',
    'Nanum Gothic', 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Yeossihyangyakeonhae';
  src: url('/fonts/Yeossihyangyakeonhae.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yeossihyangyakeonhae-Bold';
  src: url('/fonts/Yeossihyangyakeonhae-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shilla_Culture(B)';
  src: url('/fonts/Shilla_Culture-B.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'MangoByeolbyeol';
  src: url('/fonts/MangoByeolbyeol.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WAGURI';
  src: url('/fonts/WAGURI.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SacheonHanggong';
  src: url('/fonts/SancheonHangGongOTF-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
